In [1]:
# Import pandas
import pandas as pd

In [3]:
# Create the employee_df dataframe
data = {
    'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'],
    'Department': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'],
    'Age': [30, 40, 25, 35, 45, 28],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
    'Salary': [50000, 60000, 45000, 55000, 70000, 55000],
    'Experience': [3, 7, 2, 5, 10, 4]
}

In [5]:
employee_df = pd.DataFrame(data)

In [7]:
# Use iloc to select the first 3 rows of the dataframe
first_three_rows = employee_df.iloc[:3]

In [9]:
# Use loc to select all rows where the Department is "Marketing"
marketing_rows = employee_df.loc[employee_df['Department'] == 'Marketing']

In [11]:
# Use iloc to select the Age and Gender columns for the first 4 rows of the dataframe
age_gender_first_four = employee_df.iloc[:4, [2, 3]]

In [13]:
# Use loc to select the Salary and Experience columns for all rows where the Gender is "Male"
salary_experience_male = employee_df.loc[employee_df['Gender'] == 'Male', ['Salary', 'Experience']]

In [15]:
# Print the results
print("First 3 rows:")
print(first_three_rows, "\n")

First 3 rows:
   Name Department  Age  Gender  Salary  Experience
0  John         IT   30    Male   50000           3
1  Mary  Marketing   40  Female   60000           7
2   Bob      Sales   25    Male   45000           2

In [17]:
print('All rows where the Department is "Marketing":')
print(marketing_rows, "\n")

All rows where the Department is "Marketing":
   Name Department  Age  Gender  Salary  Experience
1  Mary  Marketing   40  Female   60000           7
5  Lisa  Marketing   28  Female   55000           4

In [19]:
print("Age and Gender columns for the first 4 rows:")
print(age_gender_first_four, "\n")

Age and Gender columns for the first 4 rows:
   Age  Gender
0   30    Male
1   40  Female
2   25    Male
3   35  Female

In [21]:
print('Salary and Experience columns for all rows where the Gender is "Male":')
print(salary_experience_male)

Salary and Experience columns for all rows where the Gender is "Male":
   Salary  Experience
0   50000           3
2   45000           2
4   70000          10